/* div:hover{
    background-color: rgb(1, 255, 242);
    margin: 5px;
}
div::before{
    content: "tanvir rana ";
    color: blueviolet;

}
div::after{
    content: "onek sondor";
    font-size: 50px;
}
 */
 div{
     border: 1px dotted;
     width: 200px;
 }
 #boy{
     position: relative;
     top:70px;
     z-index: 3;

}
#ring{
     position: relative; 
     z-index: 2;
    
}

#water{
    position: relative;
    top: -70px;
    z-index: 1;
    

}